html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.menu ul {
    list-style: none;
}

.menu ul li {
    float: left;
    margin: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    color: blue;
}

.grid {
    display: inline-block;
    width: 100%;
}

.grid .row {
    float: left;
    width: 100%;
    margin: 2px 0px;
}

.grid .row input[type = 'text'] {
    width: 100%;
}

.grid .row input[type = 'password'] {
    width: 100%;
}

.grid .row .col-1 {
    float: left;
    width: 150px;
}

.grid .row .col-2 {
    float: left;
    width: 300px;
}

.grid .row .col-3 {
    float: left;
    width: 450px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.b {
    font-weight: bold;
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url('/images/serenity.jpg');
    background-size: cover;
    z-index: -1;
}

.booking-info {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}



.booking-property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.property-label {
    font-weight: bold;
}

.client-info, .room-info {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.client-property, .room-property {
    margin-bottom: 10px;
}

.property-value {
    margin-left: 10px;
}

.property-label, .property-value {
    font-size: 16px;
    color: #333;
}
